ion-slides {
  // --bullet-background:white;

  height: 22vh;
  div {
    height: 17vh;
    width: 96%;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1px;
  }
}

