<ion-header class="ion-no-border">
  <ion-toolbar  >
    <ion-searchbar
     animated="true"
     color="primary"
     debounce="500"
     #searchInput
     (ionChange)="onSearchChange($event)"
      >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-resturant-loader *ngIf="isLoading"></app-resturant-loader>
  <app-empty-screen *ngIf="!isLoading && resturants?.length ===0 || query?.length===0" [model]="model"></app-empty-screen>
  <ion-list *ngIf="!isLoading && resturants.length>0">
    <ion-list-header>
      <ion-label>
        <h4>Search results for <span> "{{query}}" </span>  </h4>
      </ion-label>
    </ion-list-header>
    <app-resturant
     *ngFor="let resturant of resturants"
     [resturant]="resturant"
     [routerLink]="['/','tabs','resturants',resturant.uid]"
    >

    </app-resturant>
  </ion-list>

</ion-content>
